{{>admin_nav}}



<h1>Banners</h1>


  <table>
    <thead>
      <tr>
        <th>Image</th>
        <th>Link</th>
        <th>Target</th>
        <th>Description</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      {{#each banner}}
        <tr>
          <td style="width: 19%;"><img src="/productImages/{{this.image}}" alt="" style="width: 45%;"></td>
          <td>{{this.link}}</td>
          <td>{{this.target}}</td>
          <td>{{this.discription}}</td>
          <td><a class="btn btn-primary" href="/admin/edit_banner/{{this._id}}">Edit</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
















{{>admin_footer}}
