{{>admin_nav}}



<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">

     {{!-- <div class="container"> --}}
		<h2>Order Table</h2>
		<table class="table">
			<thead class="thead-dark">
				<tr>
                    <th>no.</th>
					<th>Order ID</th>
					<th>Customer Name</th>
					
					<th>Order Total</th>
					<th>Order Status</th>
					<th>Order Details</th>
					
				</tr>
			</thead>
			
			{{#each users}}
			{{#each order}}
			<tbody>
				<tr>
                    <td>{{inc @index}}</td>
					<td>{{order_id}}</td>
					<td>{{../name}}</td>
					
					<td>{{bill_amount}}</td>
					<td>{{status}}</td>
					<td><a href="/admin/order_details/{{this.order_id}}"><button class="btn btn-primary">View Details</button></a></td>
				</tr>
			</tbody>
			{{/each}}
			{{/each}}
		</table>
	{{!-- </div> --}}
    </div>
  </div>
</div>

{{!-- onclick="window.location.href = '/admin/delete-product/{{this._id}}';" --}}

{{!-- onclick="window.location.href = '/admin/undoDelete-product/{{this._id}}';" --}}

{{>admin_footer}}