{{>admin_nav}}

<div >
  <h1 style="text-align: center; margin-bottom: 10%;">Sales-Report</h1>
</div>

<div>
<form action="/admin/sales-report" method="post">
  <label for="start-date">Start Date</label>
  <input type="date" id="start-date" name="start-date">

  <label for="end-date">End Date</label>
  <input type="date" id="end-date" name="end-date">

  <button class="btn btn-primary" type="submit">Generate Report</button>
</form>
</div>





{{#if orders}}

  <table>
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Date</th>
        <th>Bill Total</th>
        <th>customer Name</th>
        <th>Status</th>
      </tr>
    </thead>
   
    <tbody>
      {{#each orders}}
        <tr>
          <td>{{_id}}</td>
          <td>{{formatDate order_date}}</td>
          <td>{{ bill_amount}}</td>
          <td>{{user_name}}</td>
          <td>{{status}}</td>
        </tr>
        {{/each}}
    </tbody>
 
  </table>
  <br>
    <a class="btn btn-primary mb-2" href="/admin/sales-report/excel?startDate={{startDate}}&endDate={{endDate}}">Download Excel</a> 
    <a class="btn btn-primary" href="/admin/sales-report/pdf?startDate={{startDate}}&endDate={{endDate}}">Download PDF</a>
{{else}}
  <p>No orders found</p>
{{/if}}
{{!-- {{#if orders}}
  <table>
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Date</th>
        <th>Customer Name</th>
        <th>Product Name</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {{#each orders}}
        <tr>
          <td>{{this._id}}</td>
          <td>{{formatDate this.createdAt}}</td>
          <td>{{this.customerName}}</td>
          <td>{{this.products.[0].name}}</td>
          <td>{{this.products.[0].price}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>No orders found</p>
{{/if}} --}}



















{{>admin_footer}}