{{>admin_nav}}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <input type="text" id="myInput" onkeyup="searchTable()" placeholder="Search for names.."
                title="Type in a name">
            <table class=" sortable table table-striped mt-5" id="myTable">
        <thead>
          <tr>
            <th></th>
            <th> Product </th>
            <th> Brand </th>
            <th> Category </th>
            <th> Quantity</th>
            <th> Price </th>
            <th> Status </th>
            <th> Remove </th>
          </tr>
        </thead>
        <tbody>
          {{#each productdata}}

          <tr>
            <td style="width: 8%;">
              <img src="/productImages/{{this.image.[0]}}" alt="image"  style="width: 90%; padding-right: 5%;"/>
            </td>
            <td>{{this.Name}}</td>
            <td> {{this.Brand}} </td>
            <td>{{this.categoryid.categoryname}}</td>
            <td>{{this.Quantity}}</td>
            <td>{{this.Price}}</td>
            {{#ifCond this.Quantity '<=' 0 }}
            <td>Out Of Stock</td>
            {{else}}
            <td>In Stock</td>
            {{/ifCond}}

            <td><a href="/admin/edit_products/{{this._id}} " class="btn btn-primary">View</a></td>
            {{!-- {{#if this.archive}}
            <td> <button class="btn btn-danger" onclick="alertedUndo('{{this._id}}');">Unhide</button>
            </td>
            {{else}}
            <td> <button class="btn btn-danger" onclick="alerted('{{this._id}}');">Hide</button>
            </td>
            {{/if}} --}}
          </tr>
          {{/each}}
        </tbody>
      </table>
        </div>
    </div>
</div>
{{>admin_footer}}












<script>
    function searchTable() {
        var input, filter, found, table, tr, td, i, j;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            for (j = 0; j < td.length; j++) {
                if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                    found = true;
                }
            }
            if (found) {
                tr[i].style.display = "";
                found = false;
            } else {
                tr[i].style.display = "none";
            }
        }
    }

</script>


<script>
    function alerted(proId) {
        console.log(proId)
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, block it!'
        }).then((result) => {
            $.ajax({
                url: '/admin/blockuser/' + proId,
                method: 'get',
                success: (response) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                            icon: 'success',
                            title: 'User blocked succesfuly',
                            showConfirmButton: false,
                        })
                        setTimeout(() => {
                            location.reload()
                        }, 800)
                    }
                }
            })
        })
    }
    function alertedUndo(proId) {
        console.log("working???????????????????")
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, Unblock  it!'
        }).then((result) => {
            $.ajax({
                url: '/admin/unblockuser/' + proId,
                method: 'get',
                success: (response) => {
                    if (result.isConfirmed) {
                        Swal.fire({
                            icon: 'success',
                            title: 'User is Unblocked',
                            showConfirmButton: false,
                        })
                        setTimeout(() => {
                            location.reload()
                        }, 800)
                    }
                }
            })
        })
    }
</script>